[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[commit]
	gpgsign = true
	verbose = true

[user]
	email = ludvig123@gmail.com
	name = Ludvig Hozman
	signingkey = B1619A47E85B6E94

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemoicPrefix = true
	renames = true

[diff "ansible-vault"]
	textconv = ansible-vault view

[diff "lockb"]
	binary = true
	textconv = bun

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[pull]
	ff = only

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	updateRefs = true
	autoStash = true
	autoSquash = true

[merge]
	conflictstyle = zdiff3

[init]
	defaultBranch = master
