[commit]
	gpgsign = true
	verbose = true
[user]
	email = ludvig123@gmail.com
	name = Ludvig Hozman
	signingkey = B1619A47E85B6E94

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[diff "ansible-vault"]
	textconv = ansible-vault view

[diff "lockb"]
	binary = true
	textconv = bun

[pull]
	ff = only

[rebase]
	updateRefs = true
[init]
	defaultBranch = master
